#player-cpu-section {
  display: none;
  height: fit-content;
}

.game-play-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-player-buttons {
  padding: 0.5rem 1.25rem;
  font-size: 0.75rem;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.25px;
  border-radius: 1.25rem;
  background-color: #5e2ed6;
  cursor: pointer;
  color: white;
  transition: all 250ms linear;
  will-change: all;
}

.game-player-buttons:hover {
  background-color: #FF5A84;
}

.game-player-section {
  border: 3px solid black;
  background-color: white;
  box-shadow: 0 8px 0px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1.25rem;
  position: relative;
  text-transform: uppercase;
}

#game-player-icon-left {
  left: -1.25rem;
}

#game-player-icon-right {
  right: -1.25rem;
}

.game-player-icon {
  width: 2.5rem;
  position: absolute;
}

.game-player-section>var {
  font-style: normal;
  font-weight: bold;
  letter-spacing: 1px;
}

.game-board-section {
  position: relative;
}

.game-board-main {
  border: 3px solid black;
  background-color: white;
  box-shadow: 0 8px 0px black;
  border-radius: 1rem;
  display: flex;
  justify-content: center;

}

.game-board-player {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  width: fit-content;
}

.game-board-hole {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100%;
  border: 2px solid black;
  box-shadow: 0 8px 0px black inset;
  background-color: #7b47ff;
  cursor: pointer;
}

div[data-state^="column-"].current-top {
  background-color: #A259FF;
  position: relative;
}

#player-column-marker {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

div[data-state="column-1"].column-1 {
  animation: column1fade 1.5s ease-in-out 250ms 2;
}

@keyframes column1fade {
  50% {
    background-color: palevioletred;
    opacity: 0.6;
  }
}

div[data-state="column-2"].column-2 {
  animation: column2fade 1.5s ease-in-out 250ms 2;
}

@keyframes column2fade {
  50% {
    background-color: red;
    opacity: 0.6;
  }
}

div[data-state="column-3"].column-3 {
  animation: column3fade 1.5s ease-in-out 250ms 2;
}

@keyframes column3fade {
  50% {
    background-color: orangered;
    opacity: 0.6;
  }
}

div[data-state="column-4"].column-4 {
  animation: column4fade 1.5s ease-in-out 250ms 2;
}

@keyframes column4fade {
  50% {
    background-color: limegreen;
    opacity: 0.6;
  }
}

div[data-state="column-5"].column-5 {
  animation: column5fade 1.5s ease-in-out 250ms 2;
}

@keyframes column5fade {
  50% {
    background-color: darkgreen;
    opacity: 0.6;
  }
}

div[data-state="column-6"].column-6 {
  animation: column6fade 1.5s ease-in-out 250ms 2;
}

@keyframes column6fade {
  50% {
    background-color: turquoise;
    opacity: 0.6;
  }
}

div[data-state="column-7"].column-7 {
  animation: column7fade 1.5s ease-in-out 250ms 2;
}

@keyframes column7fade {
  50% {
    background-color: blue;
  }
}

.game-timer-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.5rem;
  width: fit-content;
  position: absolute;
  left: 0;
  right: 0;
  color: white;
  text-transform: uppercase;
}

.gamer-timer-count {
  text-transform: lowercase;
}

#player-footer {
  background-color: #5E2ED6;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  border-radius: 4rem 4rem 0 0;
  z-index: -10;
}





@media all and (max-width: 1023px) {
  .game-play-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .game-board-main {
    width: fit-content;
  }

  .game-board-section {
    grid-column: 1/3;
    justify-self: center;
  }
}





@media all and (max-width: 767px) {
  #player-cpu-section {
    width: 87.5%;
    margin-top: 1rem;
  }

  .game-play-header {
    padding: 0 0.5rem;
  }

  .game-play-main {
    gap: 1.5rem 1.25rem;
    margin-top: 2rem;
  }

  .game-player-section {
    padding: 0.75rem 0;
  }

  .game-player-section>var {
    font-size: 0.75rem;
  }

  .game-player-section>h1 {
    font-size: 1.5rem;
  }

  .game-board-section {
    padding: 0.75rem 0;
  }

  .game-board-main {
    padding: 0.35rem 0.35rem 1.5rem 0.35rem;
  }

  .game-board-player {
    gap: 0.5rem;
  }

  #player-column-marker {
    width: 1.5rem;
    top: -2.15rem;
  }

  .game-timer-div {
    padding: 2.25rem 3rem;
    gap: 0.5rem 0;
    margin: -0.75rem auto 0 auto;
  }

  #player-footer {
    height: 25%;
  }
}





@media all and (min-width: 768px) and (max-width: 1023px) {
  #player-cpu-section {
    width: 60%;
    margin-top: 5rem;
  }

  .game-play-header {
    padding: 0 0.75rem;
  }

  .game-player-buttons {
    padding: 0.75rem 1.75rem;
    font-size: 1rem;
  }

  .game-play-main {
    gap: 3.5rem 5rem;
    margin-top: 6rem;
  }

  .game-player-section {
    padding: 1.5rem 0;
  }

  .game-player-icon {
    width: 3.5rem;
  }

  #game-player-icon-left {
    left: -1.65rem;
  }

  #game-player-icon-right {
    right: -1.65rem;
  }

  .game-player-section>var {
    font-size: 1.25rem;
  }

  .game-player-section>h1 {
    font-size: 2rem;
  }

  .game-board-main {
    padding: 1.5rem 1.5rem 3rem 1.5rem;
  }

  .game-board-player {
    gap: 1.5rem;
  }

  .game-board-hole {
    height: 3rem;
    width: 3rem;
  }

  #player-column-marker {
    width: 2.25rem;
    top: -4.125rem;
  }

  .game-timer-div {
    padding: 3rem 4rem;
    gap: 0.5rem 0;
    margin: -1.5rem auto 0 auto;
  }

  #player-footer {
    height: 26.5%;
  }
}





@media all and (min-width: 1024px) {
  #player-cpu-section {
    width: 65%;
    align-self: center;
    margin-top: -10rem;
  }

  .game-play-header {
    padding: 0 7.5rem;
  }

  .game-play-main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 2.5rem;
    margin-top: 3.5rem;
  }

  .game-player-section {
    padding: 1rem 2.5rem;
  }

  .game-player-section:nth-child(2) {
    order: 3;
  }

  .game-player-section>var {
    text-wrap: nowrap;
    font-size: 0.75rem;
  }

  .game-player-section>h1 {
    font-size: 1.5rem;
  }

  .game-board-section {
    order: 2;
  }

  .game-board-main {
    padding: 1rem 1rem 2.25rem 1rem;
  }

  .game-board-player {
    gap: 1rem;
  }

  #player-column-marker {
    width: 2rem;
    top: -3.35rem;
  }

  .game-timer-div {
    padding: 3rem;
    gap: 0.5rem 0;
    margin: -1rem auto 0 auto;
  }

  #player-footer {
    height: 35%;
  }
}