#menu-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: #00000080;
  z-index: 30;
}

#menu-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #7B47FF;
  border: 3px solid black;
  border-radius: 1rem;
  box-shadow: 0px 8px black;
}

#menu-topic {
  color: white;
  text-transform: uppercase;
}

#menu-button-div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.menu-buttons {
  border: 3px solid black;
  border-radius: 0.75rem;
  box-shadow: 0px 8px black;
  transition: all 250ms linear;
  will-change: all;
  cursor: pointer;
  width: 100%;
  background-color: white;
  text-transform: uppercase;
  font-weight: 600;
}

.menu-buttons:last-child {
  background-color: #FF5A84;
}

.menu-buttons:hover {
  border: 3px solid #5e2ed6;
  box-shadow: 0px 8px #5e2ed6;
}





@media all and (max-width: 767px) {
  #menu-main {
    padding: 1.5rem 1rem 1.25rem 1rem;
    gap: 1.25rem 0;
    width: 65%;
  }

  #menu-topic {
    font-size: 1.5rem;
  }

  #menu-button-div {
    gap: 1.125rem 0;
  }

  .menu-buttons {
    padding: 0.75rem 0;
    font-size: 0.75rem;
  }
}





@media all and (min-width: 768px) and (max-width: 1023px) {
  #menu-main {
    padding: 2.75rem 1.75rem 2rem 1.75rem;
    gap: 2.5rem 0;
    width: 50%;
  }

  #menu-topic {
    font-size: 2.25rem;
  }

  #menu-button-div {
    gap: 1.5rem 0;
  }

  .menu-buttons {
    padding: 1.25rem 0;
    font-size: 1.25rem;
  }
}





@media all and (min-width: 1024px) {
  #menu-main {
    padding: 2.75rem 1.5rem 1.75rem 1.5rem;
    gap: 2.5rem 0;
    width: 22.5%;
  }

  #menu-topic {
    font-size: 2rem;
  }

  #menu-button-div {
    gap: 1.25rem 0;
  }

  .menu-buttons {
    padding: 0.85rem 0;
  }
}