@import url("./styles/landing-section.css");
@import url("./styles/rules-section.css");
@import url("./styles/player-cpu-section.css");
@import url("./styles/player-player-section.css");
@import url("./styles/menu-section.css");
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  height: 100dvh;
  display: flex;
  justify-content: center;
  background-color: #7b47ff;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
}